body {
  background: #FAFAFA;
}

.lead-results-row {
  cursor: pointer;
}

.left-div {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-div {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.middle-div {
  background: white;
  top: 5px;
  padding-top: 15px;
  border: 2pt solid grey;
  /*box-shadow: 0px 0px 4px 1px;*/
  height: 100%;
}

.loader-div {
  top: 80px;
}
.loader-div .loader-text {
  text-align: center;
}

.ajax-loader {
  background: url("/images/ajax-loader.gif");
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.app-template-div {
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0;
  top: 10%;
  height: 90%;
  /*top: 0;*/
}
.app-template-div .app-template-inner {
  height: 100%;
}

.doc-form-div {
  height: 100%;
}
.doc-form-div .doc-form-inner-div {
  height: 100%;
}
.doc-form-div .doc-form-inner-div .doc-form-header {
  padding: 0px;
  margin: 0px;
}
.doc-form-div .doc-form-inner-div .doc-form {
  height: 100%;
}
.doc-form-div .doc-form-inner-div .doc-form .doc-form-inputs {
  height: 95%;
  overflow: scroll;
}
.doc-form-div .doc-form-inner-div .doc-form .doc-input.valid input {
  border: 1pt solid #bfe5bf;
}
.doc-form-div .doc-form-inner-div .doc-form .doc-input.invalid input {
  border: 1pt solid #ffcfcf;
}
.doc-form-div .doc-form-inner-div .doc-form .doc-input.custom-method label {
  color: #2e6da4;
}

.page-header {
  text-align: center;
}

.navbar-default {
  background: grey;
  color: white;
  border: none;
}

.navbar-brand {
  padding: 5px 5px;
}
.navbar-brand img {
  height: 100%;
}

.lead-table-div {
  /*height: 400px;*/
  /*overflow: scroll;*/
  /*overflow-x: hidden;*/
  /*margin-bottom: 15px;*/
  border-radius: 4px;
}
