@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif !important; }
  body a {
    cursor: pointer;
    text-transform: none; }

th {
  border-bottom: none !important; }

.padded {
  padding-right: 15px;
  padding-left: 15px; }

.checkbox label {
  /*color: #81C2FC !important;*/
  line-height: 20px; }
.checkbox input[type='checkbox'] {
  transition: background .1s ease-in-out;
  cursor: pointer;
  min-height: 10px;
  min-width: 10px;
  -webkit-appearance: none;
  border: 3px solid #1e73be;
  border-radius: 3px;
  outline: none !important; }
  .checkbox input[type='checkbox']:checked {
    -webkit-appearance: none;
    background: #1e73be; }

.group-templates-div {
  font-weight: bold !important;
  margin-top: 22px; }
  .group-templates-div input[type='checkbox'] {
    min-height: 10px;
    min-width: 10px;
    -webkit-appearance: none;
    border-radius: 3px;
    outline: none !important; }
    .group-templates-div input[type='checkbox'].group-templates-input {
      font-size: 50px;
      width: 20px;
      height: 20px; }

.group-templates-checkbox {
  text-transform: uppercase; }
  .group-templates-checkbox label b {
    margin-left: 15px;
    line-height: 30px;
    font-size: 16px; }

.signature-icon {
  color: #5cb85c;
  margin-left: 15px; }

.validation-error {
  font-size: 14px;
  /*color: $red;*/ }

.template-layout {
  height: 100%; }

.col-sm-3.left-div {
  font-family: 'Roboto', sans-serif !important; }

label {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.26) !important; }

input.form-control,
select {
  border-radius: 2px !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: none !important;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87); }

input.form-control {
  -webkit-appearance: none !important; }

table,
tr {
  padding: 0px !important;
  /* border-top: 2pt solid #ececec !important; */ }

td {
  border: none !important;
  border-top: none !important;
  border-bottom: none !important; }

.lead-search-results-div ul {
  list-style: none;
  color: rgba(0, 0, 0, 0.54); }
.lead-search-results-div .loader-div {
  position: relative; }
  .lead-search-results-div .loader-div .react-spinner {
    height: 50px;
    width: 50px;
    margin-top: 30px; }
.lead-search-results-div .lead-results-row {
  font-weight: lighter;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87); }
  .lead-search-results-div .lead-results-row:hover {
    color: rgba(0, 0, 0, 0.26); }
  .lead-search-results-div .lead-results-row div {
    overflow: hidden; }

.left-div,
.right-div {
  color: rgba(0, 0, 0, 0.87);
  /* height: 100%; */
  /* overflow: hidden; */
  /* top: 3px; */
  /* overflow-y: scroll; */ }

.middle-div {
  /* background: white; */
  /* box-shadow: 0px 0px 2px 1px rgba(153, 153, 153, 0.73); */
  border-radius: 2px;
  /* padding: 0px; */
  /* top: 5px; */
  /* height: 100%; */ }
  .middle-div.doc-error {
    border: 2pt solid #ffdfdf; }

.block-div {
  background: white;
  /*box-shadow: 0px 0px 2px 1px rgba(153, 153, 153, 0.2);*/
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  margin-top: 15px;
  border-radius: 0px;
  /* padding: 0; */
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 12px;
  /*max-height: 300px;*/
  box-sizing: border-box;
  padding-bottom: 15px; }
  .block-div .block-header {
    border-radius: 2px 2px 0px 0px;
    /* height: 35px; */
    /* color: white; */
    border-bottom: 1px solid #edecec; }
    .block-div .block-header .control-label {
      color: rgba(0, 0, 0, 0.56);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 900;
      font-size: 16px; }
  .block-div .block-description {
    padding-top: 15px; }
  .block-div .block-body {
    padding-top: 15px; }

#leadDocsBlock {
  max-height: 600px;
  /* height: 33%; */ }

.doc-viewer #leadDocsBlock {
  min-height: 800px;
  max-height: 100%;
  /* height: 33%; */ }

#templateBlock {
  /*height: 20%;*/
  /*min-height: 180px;*/ }

#recipientBlock {
  min-height: 71px; }

#leadDataBlock {
  /* height: 33%; */ }

.recipients-block label {
  max-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis; }

.auth-div button {
  padding: 6px 0;
  margin-top: 27px;
  border-radius: 2px; }

.loader-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 300px;
  left: 0; }
  .loader-div .loader-text {
    position: relative;
    width: 100%;
    float: left;
    color: rgba(0, 0, 0, 0.26);
    text-align: center;
    margin-top: 45px; }
  .loader-div .react-spinner {
    height: 50px;
    width: 50px;
    top: 0; }
  .loader-div.welcome-loader-div .loader-text {
    color: rgba(0, 0, 0, 0.54); }
  .loader-div.welcome-loader-div .react-spinner {
    height: 100px;
    width: 100px;
    top: 100px; }

.react-spinner .react-spinner_bar {
  background-color: rgba(0, 0, 0, 0.54); }

.error-div {
  position: absolute;
  top: 80px;
  padding-top: 60px;
  color: #d25a5a; }
  .error-div .error-details h4, .error-div .error-details p {
    margin: 0px; }

.app-template-div {
  padding: 0;
  padding-bottom: 15px; }

.btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none; }
  .btn.btn-default {
    color: rgba(0, 0, 0, 0.56);
    border: none;
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .btn.btn-default:hover {
      background-color: #D0D0D0;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.66);
      color: white; }
  .btn.btn-remove {
    background: transparent;
    color: #d9534f;
    padding: 0px; }
  .btn.btn-icon {
    background: transparent;
    color: #337ab7;
    padding: 0px; }

.cycle-templates-div .cycle-btn-div {
  padding: 0;
  padding-right: 7.5px;
  margin-bottom: 22px; }

.doc-form-div {
  color: rgba(0, 0, 0, 0.87);
  /* height: 98%; */ }
  .doc-form-div .doc-form-inner-div {
    height: 100%;
    margin-top: 15px;
    min-height: 650px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    border-radius: 0px;
    overflow-x: hidden;
    z-index: 1; }
    .doc-form-div .doc-form-inner-div .doc-form-header-div {
      z-index: 1;
      top: 0;
      background: white;
      color: rgba(0, 0, 0, 0.54);
      padding: 15px;
      border-bottom: 1px solid #edecec;
      border-radius: 2px 2px 0px 0px; }
      .doc-form-div .doc-form-inner-div .doc-form-header-div.doc-error {
        background: #ffdfdf; }
      .doc-form-div .doc-form-inner-div .doc-form-header-div .btn-default {
        color: white;
        background-color: #1e73be;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
        border: none;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 800;
        padding: 11px 12px 11px 0px;
        font-size: 11px; }
        .doc-form-div .doc-form-inner-div .doc-form-header-div .btn-default:hover {
          background-color: #0E4A80; }
    .doc-form-div .doc-form-inner-div .doc-form-header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 800;
      font-size: 20px; }
    .doc-form-div .doc-form-inner-div .doc-form .empty-fields-div {
      text-align: center;
      margin-top: 200px;
      color: rgba(0, 0, 0, 0.26); }
    .doc-form-div .doc-form-inner-div .doc-form label {
      color: rgba(0, 0, 0, 0.54) !important;
      font-weight: normal; }
    .doc-form-div .doc-form-inner-div .doc-form .doc-form-inputs {
      padding-bottom: 100px; }
    .doc-form-div .doc-form-inner-div .doc-form .doc-input.invalid input {
      border-color: rgba(255, 178, 174, 0.73) !important;
      border: 1px solid; }
    .doc-form-div .doc-form-inner-div .doc-form .doc-input.custom-method label {
      color: #2e6da4; }
    .doc-form-div .doc-form-inner-div .signatures-block .signatures-header {
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 60px;
      margin-left: 15px; }
      .doc-form-div .doc-form-inner-div .signatures-block .signatures-header h2 {
        text-align: center;
        margin-bottom: 60px; }
    .doc-form-div .doc-form-inner-div .signatures-block .signatures-body {
      color: rgba(0, 0, 0, 0.87);
      margin-top: 60px; }
      .doc-form-div .doc-form-inner-div .signatures-block .signatures-body .signature-info-cell {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        display: inline-block; }

.page-header {
  text-align: center; }

.navbar-default {
  /* height: 50px; */
  background: transparent;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.54);
  font-weight: lighter;
  /* border: none; */
  /* border-bottom: 1pt solid rgba(147, 147, 147, 0.43); */
  /* color: rgba(0, 0, 0, 0.87); */
  /* min-height: 0 !important; */
  /* box-shadow: 0 3px 7px rgba(66, 66, 66, 0.57); */
  max-height: 50px;
  /* background: #FFFFFF; */
  border: none;
  border-bottom: 1pt solid rgba(0, 0, 0, 0.19);
  min-height: 0 !important;
  /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.21); */ }
  .navbar-default .leads-welcome-overlay-div {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1; }
    .navbar-default .leads-welcome-overlay-div .leads-welcome-inner {
      text-align: center;
      margin-top: 10%; }
      .navbar-default .leads-welcome-overlay-div .leads-welcome-inner .leads-welcome-header h1 {
        font-size: 60px; }
  .navbar-default div {
    /*height: 100%;*/ }
  .navbar-default .navbar-right .leads-search-block {
    padding-top: 8px;
    z-index: 1; }
    .navbar-default .navbar-right .leads-search-block .leads-default-search {
      /*.btn {*/
      /*border-radius: 0px;*/
      /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
      /*text-overflow: ellipsis;*/
      /*white-space: nowrap;*/
      /*overflow: hidden;*/
      /*}*/ }
      .navbar-default .navbar-right .leads-search-block .leads-default-search input {
        color: rgba(0, 0, 0, 0.87);
        margin-right: 15px; }
    .navbar-default .navbar-right .leads-search-block .leads-welcome-search input {
      margin-top: 15px;
      height: 50px;
      font-size: 18px;
      margin-right: 15px; }
    .navbar-default .navbar-right .leads-search-block .leads-welcome-search .btn {
      margin-top: 15px;
      height: 50px;
      font-size: 18px;
      position: relative;
      display: inline-block;
      overflow: hidden;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
      color: #ecf0f1;
      transition: background-color .3s;
      /*width: 100%;*/ }
      .navbar-default .navbar-right .leads-search-block .leads-welcome-search .btn.btn-default {
        background-color: #3C86CF; }
        .navbar-default .navbar-right .leads-search-block .leads-welcome-search .btn.btn-default:hover {
          background-color: #2E669E; }

.navbar-header {
  margin-top: 4px; }
  .navbar-header .navbar-brand {
    height: 35px;
    padding: 5px 15px; }
    .navbar-header .navbar-brand img {
      height: 100%; }
  .navbar-header h5 {
    line-height: 17px; }

/*# sourceMappingURL=application.css.map */
/*# sourceMappingURL=application.css.map */

/*# sourceMappingURL=application.css.map */
