.lead-results-row {
  cursor: pointer;
}

.ajax-loader {
  background: url("/images/ajax-loader.gif");
  height: 40px;
  width: 40px;
  background-size: cover;
  top: 150px;
  left: 45%;
  position: absolute;
}

.doc-form {
  margin-bottom: 20px;
}

.page-header {
  text-align: center;
}

.navbar-brand {
  padding: 5px 5px;
  img {
    height: 100%;
  }
}

.lead-table-div {
  /*height: 400px;*/
  /*overflow: scroll;*/
  /*overflow-x: hidden;*/
  /*margin-bottom: 15px;*/
  border-radius: 4px;
}
