$red: rgb(210, 90, 90);
$lightgrey: rgb(236, 236, 236);
$lightred: rgb(255, 223, 223);

body {
  background: #FAFAFA;
}

.lead-results-row {
  cursor: pointer;
}

.left-div {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-div {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.middle-div {
  padding: 0px;
  background: white;
  top: 5px;
  border: 2pt solid $lightgrey; 
  /*box-shadow: 0px 0px 4px 1px;*/
  height: 100%;
  &.doc-error {
    border: 2pt solid $lightred;
  }
}

.loader-div {
  top: 80px;

  .loader-text {
    text-align: center;
  }

}

.ajax-loader {
  background: url("/images/ajax-loader.gif");
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

.error-div {
  top: 80px;
  color: $red;
  .error-details {
    h4, p {
      margin: 0px;
    }
  }
}

.app-template-div {
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0;
  top: 6%;
  height: 94%;
  /*top: 0;*/
  .app-template-inner {
    height: 100%;
  }
}

.doc-form-div {
  height: 100%;
  .doc-form-inner-div {
    height: 100%;
    .doc-form-header-div {
      background: $lightgrey;
      padding: 10px;
      &.doc-error {
        background: $lightred;
      }
    }
    .doc-form-header {
      padding: 0px;
      margin: 0px;
    }
    .doc-form {
      height: 100%;
      .doc-form-inputs {
        height: 95%;
        overflow: scroll;
      }
      .doc-input {
        &.valid {
          input {
            border: 1pt solid rgb(191, 229, 191);
          }
        }
        &.invalid {
          input {
            border: 1pt solid rgb(255, 207, 207);
          }
        }
        &.custom-method {
          label {
            color: #2e6da4;
          }
        }
      }
    }
  }
}

.page-header {
  text-align: center;
}

.navbar-default {
  background: #333;
  color: white;
  /*color: rgb(121, 120, 120);*/
  border: none;
  min-height: 30px !important;
  height: 30px !important;
  overflow: hidden;
  div {
    height: 100%;
  }
  h4 {
    margin: 0;
    margin-top: 6px;
  }
}

.navbar-brand {
  padding: 5px 5px;
  height: 100%;
  img {
    height: 100%;
  }
}

.lead-table-div {
  /*height: 400px;*/
  /*overflow: scroll;*/
  /*overflow-x: hidden;*/
  /*margin-bottom: 15px;*/
  border-radius: 4px;
}
